# virtual environment
/.venv/
/.env/
/venv/
/env/

# python byte-compiled
__pycache__

# replit python libraries
.pythonlibs/

# idea configs
/.vscode/
/.idea/

# temporary files storage
/temp/
/tmp/
